* {
	margin: 0;
	padding: 0;
	font-family: 'Rambla', sans-serif;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
	color: white;
	text-decoration: none;
}

img {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

::-moz-selection { /* Code for Firefox */
  background: #7A68FE;
}

::selection {
  background: #7A68FE;
}

body::-webkit-scrollbar {
	display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
	background-color: black;
	color: white;
}

main ul {
	list-style: none;
}

#background-img {
	width: 100%;
	height: 100vh;
	background-image: url('Files/bg.png');
	background-size: 105%;
	background-position: center;
	position: absolute;
	top: 0;
	z-index: -1;
	opacity: .5;
	filter: drop-shadow(0px 4px 5px rgba(0, 71, 255, 0.73));
}

nav {
	min-height: 12vh;
	width: 100%;
	background: linear-gradient(180deg, rgba(100, 100, 100, 0.7) 0%, rgba(0, 0, 0, 0) 82.22%);;
	position: absolute;
	top: 0;
	display: flex;
	align-items: end;
}

nav img {
	margin-left: 35px;
	width: 60px;
}

nav h2 {
	font-size: 40px;
	color: rgba(444, 444, 444, 0.85);
	cursor: pointer;
	margin-left: 12px;
}

nav h2:hover {
	color: rgba(444, 444, 444, 1);
	text-shadow: 0px 0px 10px rgba(444, 444, 444, 0.15);
}

main {
	padding: 0 40px;
}

.container1 {
	width: 100%;
	min-height: 21vh;
	height: auto;
	margin-top: 14vh;
}

main div:nth-child(1) h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 72px;
	width: 70%;
	margin-top: 70px;
}

.container2 {
	width: 100%;
	min-height: 50vh;
	display: flex;
}

.container2 div:nth-child(1) {
	margin-top: 100px;
}

.container2 h3 {
	font-size: 42px;
	font-weight: 400;
	margin-bottom: 10px;
}

.container2 h3:nth-child(4) {
	margin-top: 45px;
}

.container2 ul li {
	font-size: 22px;
	display: flex;
	align-items: center;
}

.container2 hr {
	width: 30%;
	margin-top: 10px;
	margin-bottom: 23px;
}

.container2 ul img {
	width: 27px;
	height: 27px;
	margin: 5px 25px 5px 2px;
	opacity: 0.90;
}

.container2 ul img:hover {
	opacity: 1;
}

.container2 div:nth-child(1) {
	width: 35%;
}

.container2 div:nth-child(2) {
	width: 65%;
}

.container2 div:nth-child(2) img {
	width: 62vw;
	margin-left: 25px;
	animation: hovering 2s infinite alternate ease-in-out;
}

@keyframes hovering {
	from { transform: translateY(-8px); }
	to { transform: translateY(0px); }
}

@media screen and (max-width: 920px) {
	nav {
		justify-content: center;
	}

	nav img {
		margin: 0;
	}

	nav h2 {
		margin-right: 90px;
	}

	main {
		padding: 20px;
		text-align: center;
	}

	main div:nth-child(1) h1 {
		margin: 0;
		width: 100%;
		font-size: 56px;
	}

	.container1 {
		height: auto;
	}

	.container2 {
		display: grid;
	}

	.container2 div:nth-child(1) {
		margin-top: 40px;
	}

	.container2 div:nth-child(1),
	.container2 div:nth-child(2) {
		width: 100%;
	}

	.container2 li {
		justify-content: center;
		margin-top: 13px;
	}

	hr {
		margin: auto;
	}

	.container2 div:nth-child(2) img {
		width: 85vw;
		margin: auto;
		margin-top: 50px;
	}
}